<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="search">

    <form th:action="@{/recipes/search}" method="post">
      <div class="form-group">
        <input type="text" class="form-control" th:field="${searchRecipe.searchTerm}" />
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="submit">Search</button>
      </div>
    </form>

    <table class="table" th:if="${recipeResults} != null">
      <thead>
        <tr>
          <th>Title</th>
          <th>Page</th>
          <th>Ingredients</th>
        </tr>

      </thead>
      <tbody>
        <tr th:each="recipe : ${recipeResults}">
          <td><a th:href="@{/recipes/} + ${recipe.id}" th:text="${recipe.title}"></a></td>
          <td th:text="${recipe.pageNumber}"></td>
          <td><span th:each="ingredient, status : ${recipe.ingredients}"> <a th:href="@{/ingredients/} + ${ingredient.id}"
              th:text="${status.last ? ingredient.name : ingredient.name + ', '}"> </a></span></td>
        </tr>
      </tbody>

    </table>
  </div>
</body>
</html>