<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
  <nav th:replace="fragments/navbar :: navbar"></nav>
  <div class="container">

    <h1>All Ingredients</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Ingredient Name</th>
          <th>Recipes</th>
        </tr>

      </thead>
      <tbody>
        <tr th:each="ingredient : ${ingredients}">
          <td><a th:href="@{/ingredients/} + ${ingredient.id}" th:text="${ingredient.name}"></a></td>
          <td><span th:each="recipe, status : ${ingredient.recipes}"> <a th:href="@{/recipes/} + ${recipe.id}" th:text="${recipe.title + ' (' + recipe.pageNumber + ')'}"></a> <span
              th:if="not ${status.last}">, </span></span></td>
        </tr>
      </tbody>

    </table>
  </div>
</body>
</html>