<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
  <nav th:replace="fragments/navbar :: navbar"></nav>
  <div class="container">
    <div class="jumbotron">

      <h1 class="display-4">Welcome to Beffy's Recipes!</h1>
      <p class="lead">Index and search all of the delicious Sur La Table recipes that you accumulated over your 3 months with the Chefs :)</p>

    </div>
    <p>Type any part of a recipe title or ingredient to search the index</p>
    <div th:replace="fragments/search-table :: search"></div>
  </div>



</body>
</html>