<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
  <nav th:replace="fragments/navbar :: navbar"></nav>
  <div class="container">

  <h3>Welcome to the Beffy's Recipes!</h3>
  <p>Using this service you can index all of the delicious Sur La Table recipes that you accumulated over your 3 months with the Chefs :)</p>
  
   <!-- <a th:href="@{/recipes/add}">Add a Recipe</a>
   <a th:href="@{/recipes}">View All Recipes</a>
   <a th:href="@{/ingredients}">View All Ingredients</a> -->
  </div>
	
	
	
</body>
</html>