<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
  <nav th:replace="fragments/navbar :: navbar"></nav>
  <div class="container">
    <h1>Add a Recipe</h1>
    <form id="recipe-form" action="" method="post">
      <input th:if="${@environment.getActiveProfiles()[0] != 'dev'}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <div class="form-group">
        <input type="text" class="form-control" th:field="${recipe.title}" placeholder="Recipe Title" />
        <p class="error" th:if="${#fields.hasErrors('recipe.title')}" th:errors="${recipe.title}"></p>
      </div>
      <div class="form-group">
        <select class="form-control" th:field="${recipe.book}">
          <option th:each="bookTitle: ${bookTitles}" th:value="${bookTitle}" th:text="${bookTitle}"></option>
        </select>
        <p class="error" th:if="${#fields.hasErrors('recipe.title')}" th:errors="${recipe.title}"></p>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" th:field="${recipe.pageNumber}" placeholder="Page Number" />
        <p class="error" th:if="${#fields.hasErrors('recipe.pageNumber')}" th:errors="${recipe.pageNumber}"></p>
      </div>
      <script th:src="@{/js/custom.js}"></script>
      <input id="ingredient-list" type="hidden" th:field="${recipe.ingredients}" />
      <div class="form-group">
        <input id="ingredient-input" type="text" class="form-control" placeholder="Ingredient" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" id="ingredient-selection" type="button">Add Ingredient</button>
      </div>
      <div class="card form-group" style="width: 30rem;">
        <div class="card-body">
          <h4 class="card-title">Ingredients</h4>
          <p class="card-text">Ingredients will be listed here as they are added. To remove an ingredient, simply click on it</p>
          <div id="picker-section"></div>
        </div>
        <p class="error" th:if="${#fields.hasErrors('recipe.ingredients')}" th:errors="${recipe.ingredients}"></p>
      </div>
      <div class="form-group">
        <button id="recipe-form-submit" class="btn btn-primary" type="button">Submit</button>
      </div>
    </form>

  </div>

</body>
</html>